OMAE.isc
WAAF.isc
WAAF_P.isc
WAAF_WIP2.isc
WIIF.isc
WIIF_P.isc
WIIF_WIP2.isc
Sing*.*

update.ini

Include/OMAE
Include/VFR_WAAF
Include/WAAF
Include/WAAF_P
Include/WIIF
Include/WIIF_P
Include/WAAF_WIP2
Include/WIIF_WIP2
Include/WS*
Include/WM*